.adminsContainer {
  background-color: #eef2f8;
  border-radius: 8px;
  height: 100%;
 
}
.noStyle {
  background: none;
  padding: 0;
  min-height: auto;
}
.adminMenuListInner{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.adminMenuList{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}
.menuItem{
  flex: 1 1 calc(33% - 30px);
 
}
.menuItem a {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  color: #000;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  display: block;
      transition: all 0.3s ease;
}
.menuItem a:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  background-color: var(--primary-fade-color);
    color: white;
    transform: translateY(-3px);
}