/* Full page background */
.pageWrapper {
  min-height: calc(100vh - 110px);
  background-color: #e9edf3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card container */
.card {
  width: 260px;
}

/* Button style */
.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 60px;

  background-color: #ffffff;
  border-radius: 8px;

  font-weight: 600;
  font-size: 15px;
  color: #000;
  text-decoration: none;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

/* Hover effect */
.button:hover {
  background-color: #4b558b;
  color: #ffffff;
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
