.container {
  background-color: #f9f9f9;
  border-radius: 8px;
}
.tabBtns{
  display: flex;
}
.tabBtns button{
  width: 100%;
  flex: 1 0 33%;
  border-radius: 0;
  padding: 8px 18px;
  border: 0;
  border-bottom: 1px solid #ccc;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f4a7f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
}

.actions button {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
}

.filterRow select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 120px;
  width: 100%;
}

.tableWrapper {
  margin-top: 5px;
  background: #fff;
  overflow-x: auto;
}

.projectTable {
  width: 100%;
  border-collapse: collapse;
}

.projectTable th {
  background: #3f4a7f;
  color: white;
  padding: 10px;
  text-align: left;
}

.projectTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.projectTable tr:nth-child(even) {
  background: #f4f7ff;
}
.tableActionBtns{
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

@media(max-width: 992px) {
  .filterRow{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .projectTable thead tr th{
    min-width: 100px;
  }
  .filterOptions{
    flex: 0 0 46%;
  }
}