.pageWrapper {
  width: 100%;
  min-height: 100vh;
  background: #e6edf5;
  padding: 0;
  margin: 0;
}

.tableCard {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.titleBar {
  background: #9db9d6;
  color: #000;
  text-align: center;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 600;
}

.topControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  flex-wrap: wrap;
}

.showEntries {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #333;
}

.showEntries select {
  width: 60px;
  height: 28px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 2px 4px;
  background: #fff;
}

/*SEARCH BOX */

.searchBox {
  position: relative;
  width: 220px;
}

.searchInput {
  width: 100%;
  height: 30px;
  padding: 0 55px 0 12px; 
  border: 1px solid #aaa;
  border-radius: 18px;
  font-size: 13px;
  background: #fff;
  outline: none;
  transition: all 0.2s ease;
}

.searchInput:focus {
  border-color: #2f3e75;
  box-shadow: 0 0 0 2px rgba(47, 62, 117, 0.1);
}

/* Search icon */
.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #555;
  pointer-events: none;
}

/* Clear button */
.clearBtn {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #777;
  padding: 0;
}

.clearBtn:hover {
  color: #d11a2a;
}

/*TABLE*/

.tableWrapper {
  width: 100%;
  padding: 0 20px 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

/* Header */
.table th {
  background: #46558c;
  color: #fff;
  padding: 8px;
  text-align: left;
  font-weight: 600;
}

/* Body rows */
.table td {
  padding: 14px;
  border-bottom: 1px solid #d5dbe3;
}

.table tbody tr:nth-child(even) {
  background: #a6caec;
}

.table tbody tr:nth-child(odd) {
  background: #ffffff;
}

/*FOOTER  */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px;
  font-size: 13px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Base button */
.pageBtn,
.pageNumber {
  min-width: 28px;
  height: 28px;
  padding: 0 8px;
  border: 1px solid #c5cbd3;
  background-color: #f0f2f5;
  font-size: 13px;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* Hover */
.pageBtn:hover:not(:disabled),
.pageNumber:hover {
  background-color: #d6dde8;
}

.activePage {
  background-color: #2f3e75;
  color: #fff;
  border-color: #2f3e75;
  font-weight: 600;
}

.disabledBtn {
  opacity: 0.5;
  cursor: not-allowed;
}

.ellipsis {
  padding: 0 6px;
  font-size: 13px;
}