.sidebar {
  width: 70px;
  background-color: var(--primary-fade-color);
  color: white;
  transition: all 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  z-index: 1000;
  box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  width: 230px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
}
.sidebar .navName{
  display: none;
}



/* Dropdown Header (Modules row) */
.dropdownHeader {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
  gap: 8px;
}

.sidebar:not(.open) .submenu {
  display: none !important;
}

.dropdownHeader:hover {
  background-color: var(--primary-color);
}

/* Arrow icon */
.arrow {
  margin-left: auto;
  font-size: 11px;
}

/* When sidebar is collapsed, hide submenu labels */
.sidebar:not(.open) .submenu li a {
  padding: 12px 20px; /* keep icon alignment when closed */
}

.sidebar.open .navName{
  display: flex;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li a{
  padding: 15px 20px;
  cursor: pointer;
  display: flex;
  color: #fff;
  text-decoration: none;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s ease;
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
/* SUBMENU CONTAINER */
.submenu {
  display: none;
  flex-direction: column;
  background-color: var(--primary-fade-color);
}

/* Show submenu only when sidebar is open */
.sidebar.open .submenu {
  display: flex;
  margin-left: 30px;
  background-color: var(--secondary-blue);
  width: 84%;
}

/* Each submenu link */
.submenu li{
  white-space: break-spaces;
}
.submenu li a {
  padding: 10px; /* indent */
  font-size: 16px;
  color: #e4e6fa;
}

.submenu li a:hover {
  background-color: var(--primary-color);
  color: #fff;
}
@media(max-width: 767px){
  .sidebar{
    position: fixed;
    top: 84px;
    left: -240px; /* hidden by default */
    width: 240px;
    height: 100vh;
    background-color: var(--primary-fade-color);
    transition: left 0.3s ease;
    z-index: 9999;
    /* box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2); */
  }
  .sidebar.open {
    left: 0;
  }
  .sidebar ul {
    max-height: 100vh;
    overflow-y: auto;
  }
}