.container {
  background: #fff;
  border-radius: 6px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.formGroup {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 6px;
  font-weight: bold;
}

.formGroup input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.tableWrapper table td{
	padding: 10px;
}
.tableWrapper table td input{
	width: 100%;
}
/* Dark background overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* Center popup box */
.popup {
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: popupFade 0.2s ease-out;
}

/* Optional smooth animation */
@keyframes popupFade {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
