.container {
  background: #fff;
  border-radius: 6px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.formGroup {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.formGroup label {
  margin-bottom: 6px;
  font-weight: bold;
}

.formGroup input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.tableWrapper table td{
	padding: 10px;
}
.tableWrapper table td input{
	width: 100%;
}