.container {
  background-color: #fff;
  border-radius: 8px;
}

.topActions {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.searchBox {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 15px;
}

.searchBox input {
  width: 300px;
  padding: 6px 28px 6px 8px;
}

.clear {
  position: absolute;
  right: calc(50% - 150px);
  top: 6px;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th{
  text-align: left;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.actionCol {
  width: 120px;
  text-align: center;
}

.actionButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.editBtn {
  background: var(--primary-color);
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn {
  background: #d9534f;
  color: white;
  border: none;
  padding: 6px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.footerText {
  margin-top: 10px;
}

/* ===== MODAL ===== */
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 500px;
  background: white;
  border-radius: 4px;
}

.modalHeader {
  background: var(--primary-fade-color);
  color: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.close {
  cursor: pointer;
}

.modalBody {
  padding: 30px;
}

.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

.inputContainer label {
  position: absolute;
  top: 8px;
  left: 8px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #999;
}

.inputContainer input:focus + label,
.inputContainer input:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: var(--primary-color);
}

.inputContainer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
}

.errorInput {
  border-color: red !important;
}

.errorMsg {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.saveBtn,
.cancelBtn {
  background: #e96c00;
  color: white;
  border: none;
  padding: 8px 40px;
  cursor: pointer;
  border-radius: 4px;
}

.cancelBtn {
  background: #d9534f;
}

.findLengths {
  display: none;
}

.close-message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
}