.container {
  background-color: #f9f9f9;
  border-radius: 8px;
}
.layoutWrapper {
  display: grid;
  grid-template-columns: 74% 25%;
  gap: 20px;
  margin: 10px;
}

.leftSection {
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.rightSection {
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ddd;
}
.tableWrapper tbody td{
  padding: 10px;
}
.tableWrapper tbody td input{
  width: 100%;
  margin: 0 auto;
}

@media(max-width: 992px){
  .layoutWrapper {
    display: flex;
    flex-direction: column;
  }
}