.adminsContainer {
  background-color: #eef2f8;
  border-radius: 8px;
  height: 100%;
 
}
.noStyle {
  background: none;
  padding: 0;
  min-height: auto;
}
.adminMenuListInner{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.adminMenuList{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}
.menuItem{
  flex: 1 1 calc(33% - 30px);
 
}
/*.menuItem a {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  color: #000;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
  display: block;
      transition: all 0.3s ease;
}
.menuItem a:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  background-color: var(--primary-fade-color);
    color: white;
    transform: translateY(-3px);
}*/
.card{
  width: 100%;
  flex: 1 0 30%;
  position: relative;
  text-align: center;
}


.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardHeader:hover {
  background-color: var(--primary-fade-color);
  color: white;
  transform: translateY(-3px);
}


.cardHeader a{
	color: #000;
}

.cardHeader:hover a{
	color: #fff;
}


.subDropdown {
  background: #caeefb;
  border-radius: 5px;
  /* padding: 5px; */
  text-align: left;
  position: absolute;
  width: 100%;
  z-index: 1;
}


.menuItem div{
  display: flex;
  align-items: center;
}
.menuItem a {
  text-decoration: none;
  color: #156082;
  padding: 11px 15px;
  width: 100%;
  display: flex;
}

.menuItem a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrowOpen {
  transform: rotate(90deg);
}

