.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}
.file-upload-label-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0284c7;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.file-upload-label-icon:hover {
  background-color: #0369a1;
  transform: scale(1.03);
}

.file-upload-input {
  display: none;
}

.readOnlyInput {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  background-color: #f9fafb;
  color: #6b7280;
  cursor: not-allowed;
}

.readOnlyInput:focus {
  outline: none;
  border-color: #d1d5db;
  box-shadow: none;
}


.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}