.container {
  background-color: #fff;
  border-radius: 8px;
  height: 100%;
}
.file-upload-label-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0284c7;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.file-upload-label-icon:hover {
  background-color: #0369a1;
  transform: scale(1.03);
}

.file-upload-input {
  display: none;
}
.tablesContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.tablesContainerInner{
  display: flex;
  align-items: center;
  flex: 1 0 24%;
}
.incrementTableWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fullWidthBlock {
  width: 100%;
  flex: 0 0 100%;
  display: block;
  margin-top: 20px;
}
.permissionCard{
  border: 1px solid #000;
  flex: 1 0 24%;
}
.permissionCard h3{
  background-color: var(--primary-fade-color);
  color: #fff;
  padding: 10px;
  margin: 0;
}
.cardInput{
  padding: 10px;
}
.tableWrapper thead tr th:nth-child(2), .tableWrapper thead tr th:nth-child(3){
  width: 46%;
}
.tableWrapper tbody tr td:nth-child(1), .tableWrapper tbody tr td:nth-child(4){
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(max-width: 992px) {
  .projectTable thead tr th{
    min-width: 100px;
  }
}