.container {
  background-color: #f9f9f9;
  border-radius: 8px;
}
.p6FormCards{
  padding: 20px;
  background-color: #fff;
}
.p6FormCardsInner{
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
}
.p6Card{
  flex: 1 0 30%;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);

}
.p6CardHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ligh-blue);
}
.p6CardHeading h3{
  color: #000;
}
.p6CardBody{
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3f4a7f;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
}

.actions button {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.filterRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
}

.filterRow select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 120px;
}

.tableWrapper {
  margin-top: 20px;
  background: #fff;
  overflow-x: auto;
}

.projectTable {
  width: 100%;
  border-collapse: collapse;
}

.projectTable th {
  background: #3f4a7f;
  color: white;
  padding: 10px;
  text-align: left;
}

.projectTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.projectTable tr:nth-child(even) {
  background: #f4f7ff;
}
.fileUpload{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  
}
.file-upload-label-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0284c7;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  font-size: 14px;
}

.file-upload-label-icon:hover {
  background-color: #0369a1;
  transform: scale(1.03);
}

.file-upload-input {
  display: none;
}
.btnNormal{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-size: 16px;
}
@media(max-width: 1028px) {
  .filterRow{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .projectTable thead tr th{
    min-width: 100px;
  }
  .filterOptions{
    flex: 0 0 46%;
  }
  .p6Card{
    flex: 1 0 46%;
  }
}
@media(max-width: 676px){
  .p6Card{
    flex: 1 0 100%;
  }
}