:root{
  --primary-color: #50589C;
  --primary-fade-color: #3C467B;
  --secondary-blue: #46B1E1;
  --ligh-blue: #CAEEFB;
  --headings-blue: #156082;
  --transparent-blue: #ACC0DC;
  --heading-blue-bg: #A6CAEC;
  --heading-font: "Inter", "Roboto", Arial, sans-serif;
  --body-font: "Roboto", Arial, sans-serif;
  --color-red: red;
}
*{
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--body-font);
  
}
body{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
}
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
  margin: 6px 0 10px;
  font-family: var(--heading-font);
}
p, label, input, button{
  font-family: var(--body-font);
}
h1{
  font-size: 30px;
}
h2{
  font-size: 28px; 
}
h3{
  font-size: 25px;
  color: var(--primary-color);
}
h4{
  font-size: 22.5px;
}
h5{
  font-size: 19.5px;
}
h6{
  font-size: 18px;
  color: var(--primary-color);
}
p{
  margin: 8px 0 10px;
}
.fw-400{
  font-weight: 400;
}
.fw-600{
  font-weight: 600;
}
.fw-800{
  font-weight: 800;
}
.w-100{
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.mt-1{
  margin-top: 1em;
}
.mb-1{
  margin-bottom: 1em;
}
.mt-2{
  margin-top: 2em;
}
.mb-2{
  margin-bottom: 2em;
}
.mt-3{
  margin-top: 3em;
}
.mb-3{
  margin-bottom: 3em;
}
.mt-4{
  margin-top: 4em;
}
.mb-4{
  margin-bottom: 4em;
}
.pt-1{
  padding-top: 1em;
}
.pb-1{
  padding-bottom: 1em;
}
.pt-2{
  padding-top: 2em;
}
.pb-2{
  padding-bottom: 2em;
}
.pt-3{
  padding-top: 3em;
}
.pb-3{
  padding-bottom: 3em;
}

.pt-4{
  padding-top: 4em;
}
.pb-4{
  padding-bottom: 4em;
}

.pt-5{
  padding-top: 5em;
}
.pb-5{
  padding-bottom: 5em;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formField{
  display: flex;
  flex-direction: column;
  margin: 8px 0 12px;
}
.checkboxRow{
  display: flex;
  margin: 8px 0 10px;
}
.checkboxRow input{
  min-width: 15px;
  margin-right: 7px;
}
.red{
  color: var(--color-red);
}
.btn{
  outline: 0;
  border: 0;
  padding: 5px 30px;
  border-radius: 30px;
  background-color: transparent;
  max-width: max-content ;
  display: flex;
  gap: 3px;
  align-items: center;
}
.btn-2{
  padding: 5px 10px;
  border-radius: 5px;
}
.btn-primary{
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
}
.btn-primary:hover{
  background-color: var(--primary-fade-color);
}
.btn-outline-danger{
  background-color: var(--color-red);
  color: #fff;
  padding: 5px;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.btn-white{
  background-color: #fff;
  color: #000;
  border: 1px solid #c0c0c0;
}
.btn-white:hover{
  background-color: #c0c0c0;
}
.transparent-btn{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
}
.white{
  color: #fff;
}
.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-green:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
input::placeholder {
  color: #000;
}
.formHeading{
  background-color: var(--heading-blue-bg);
  color: #000;
  padding: 8px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0 20px;
}
.formHeading h2{
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0;
}
input, Select{
  border: 0;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
}
input:focus, select:focus{
  border-color: var(--primary-color);
}
.form-row{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
.form-field{
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 0 30%;
  margin-bottom: 10px;
}
.rupee-field {
  position: relative;
}
.rupee-field input{
 padding: 10px 10px 10px 2rem;
}
.rupee-field::before{
  content: "₹";
  position: absolute;
  top: 95%;
  left: 12px;
  transform: translateY(-100%);
  font-size: 20px;
  color: #000;
  pointer-events: none;
}
.paginationRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 15px 0;
}
.flex-100{
  flex: 0 0 100%;
}
.form-post-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}
.form-post-buttons button{
  display: flex;
  align-items: center;
  justify-content: center;
}
label{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  opacity: 0.5;
}
input{
  padding: 10px;
  outline: 0;
}
.d-flex{
  display: flex;
}
.align-center{
  align-items: center;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-flex-start{
  justify-content: flex-start;
}
.gap-10{
  gap: 10px;
}
.gap-15{
  gap: 15px;
}
.gap-20{
  gap: 20px;
}
.gap-25{
  gap: 25px;
}
.gap-30{
  gap: 30px;
}
.gap-35{
  gap: 35px;
}
.gap-40{
  gap: 40px;
}
.gap-45{
  gap: 45px;
}
.gap-50{
  gap: 50px;
}
.pageHeading{
  background-color: var(--heading-blue-bg);
  color: #000;
  padding: 8px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pageHeading h2{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.pageHeading .rightBtns{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}
.pageHeading .rightBtns a{
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 30px;
}
.innerPage{
  padding: 10px 20px;
  background: #fff;
  min-height: 80vh;
  height: 100%;
}
.searchBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0;
}
.showEntriesCount{
  display: flex;
  align-items: center;
}
.searchRow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.searchRow input {
  padding: 6px 30px 6px 10px;
  font-size: 14px;
  width: 100%;
}
.searchRow input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}
.search-btn{
  position: absolute;
  right: 5px;
  top: 7px;
}
.dataTable{
  overflow-x: auto;
  /* overflow: visible !important; */
}
.dataTable table{
  width: 100%;
  border: 1px solid #ccc;
}
.dataTable thead tr{
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
}
.dataTable thead tr th{
  padding: 10px;
}
.dataTable tbody tr:nth-child(odd){
  background-color: var(--heading-blue-bg);
}
.table th,
.table td {
  vertical-align: middle;
  text-align: center;
  padding: 8px;
}
.table input[type="text"],
.table input[type="date"] {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #000;
  padding: 4px 8px;
  background: transparent;
}

/* pagination css */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 12px;
  flex-wrap: wrap;
}

.pageBtn {
    border: 0;
    background: white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    line-height: 100%;
    padding: 3px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
}

.pageBtn:hover {
  background-color: #f0f0f0;
}

.activePage {
  background-color: var(--primary-color);
  color: #fff;
  border-color: var(--primary-color);
}

.pageBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ellipsis {
  padding: 0 4px;
  color: #666;
  font-weight: bold;
}
.filterRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: #fff;
  padding: 10px;
  margin-top: 15px;
  border-radius: 6px;
}

.filterRow select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-width: 120px;
}
.hidden{
  visibility: hidden;
  z-index: -1;
}
@media(max-width: 992px) {
  .filterRow{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .projectTable thead tr th{
    min-width: 100px;
  }
  .filterOptions{
    flex: 0 0 46%;
  }
}

@media(max-width: 767px){
  input{
    min-width: 100%;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 25px;
  }
  h3{
    font-size: 23.5px;
  }
  h4{
    font-size: 21px;
  }
  h5, h6{
    font-size: 17px;
  }
  .innerPage{
    padding: 15px;
  }
  .pageHeading{
        flex-direction: column;
  }
  .pageHeading h2 {
      position: relative;
      left: 0;
      transform: translate(0, 0);
  }
  .form-row{
    gap: 10px;
    align-items: flex-end;
  }
  .form-field{
    flex: 1 0 46%;
  }
  label{
    font-size: 14px;
  }
  .paginationRow{
    flex-direction: column;
  }
}