.wrapper {
  background: #f4f5f7;
  border: 1px solid #dcdfe4;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
}

/* Header */
.header {
  background: #a6caec;
  color: #1b1b1b;
  text-align: center;
  padding: 14px 10px;
}

.header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

/* Controls */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
  background: #f4f5f7;
}

.entriesControl {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.entriesControl select {
  padding: 6px 10px;
  border: 1px solid #c9ced6;
  border-radius: 4px;
  background: #fff;
}

/* Search */
.searchBox {
  display: flex;
  align-items: center;
  width: 190px;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #b8bcc3;
  border-radius: 16px;
  background: #ffffff;
}

.searchBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #000;
}

.searchIcon {
  color: #7b5aa6;
  margin-left: 6px;
}

.clearIcon {
  color: #000;
  margin-left: 6px;
  cursor: pointer;
}

.clearIcon:hover {
  opacity: 0.7;
}

/* Table */
.tableContainer {
  margin: 0 20px;
  background: #fff;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr {
  background: #4b569d;
  color: #fff;
}

.table th {
  padding: 12px 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}

.table tbody td {
  padding: 12px 10px;
  font-size: 14px;
}

.table tbody tr:nth-child(even) td {
  background: #a6caec;
}

.emptyRow td {
  background: #fff;
  text-align: center;
  padding: 14px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  background: #f4f5f7;
}

/*    PAGINATION */
.pagination {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #eef0f3;
  padding: 6px 10px;
  border-radius: 4px;
}

/* All Buttons */
.pagination button {
  min-width: 32px;
  height: 28px;
  padding: 0 8px;
  border: 1px solid #cfd4dc;
  background: #ffffff;
  color: #3c3c3c;
  font-size: 13px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.2s ease;
}

/* Hover */
.pagination button:hover:not(:disabled) {
  border-color: #3C467B;
  color: #3C467B;
}

/* Disabled Button (Pre when page 1) */
.pagination button:disabled {
  background: #e6e7ea;
  border: 1px solid #d5d7dc;
  color: #9aa0a6;
  cursor: not-allowed;
}

/* Active Page */
.activePage {
  background-color: #3C467B !important;
  color: #ffffff !important;
  border: 1px solid #3C467B !important;
}