.updateFormsContainer {
  padding: 20px;
  background-color: #eef2f8;
  min-height: 100vh;
}

.pageTitle {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 600;
}

.formsGrid {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
  justify-items: center; */

  display: flex;
  gap: 40px;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card{
  width: 100%;
  flex: 0 0 22%;
  position: relative;
  text-align: center;
}


.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cardHeader:hover {
  background-color: var(--primary-fade-color);
  color: white;
  transform: translateY(-3px);
}

.subDropdown {
  background: #caeefb;
  border-radius: 5px;
  /* padding: 5px; */
  text-align: left;
  position: absolute;
  width: 100%;
  z-index: 1;
}


.menuItem div{
  display: flex;
  align-items: center;
}
.menuItem a {
  text-decoration: none;
  color: #156082;
  padding: 11px 15px;
  width: 100%;
  display: flex;
}

.menuItem a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.arrow {
  transition: transform 0.3s ease;
  margin-top: 5px;
}

.arrowOpen {
  transform: rotate(90deg);
}

@media (max-width: 767px) {
  .formsGrid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 15px;
  }
  .card{
    flex: 100%;
  }
}
